<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore2.txt">

  <!-- the targets to write to -->
  <targets>

    <!-- Web service to log metrics -->
    <target type='WebService'
                    name='metricService'
                    url='https://localhost:44341/api/metric'
                    protocol='HttpPost'
                    encoding='UTF-8'>
      <parameter name='message' type='System.String' layout='${message}'/>
      <parameter name='level' type='System.String' layout='${level}'/>
    </target>

    <!-- Web service to transmit non-metric logs to -->
    <target type='WebService'
                    name='logService'
                    url='https://localhost:44341/api/log'
                    protocol='HttpPost'
                    encoding='UTF-8'>
      <parameter name='message' type='System.String' layout='${message}'/>
      <parameter name='level' type='System.String' layout='${level}'/>
    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    
    <logger name="*" minlevel="Trace" writeTo="metricService">
      <filters defaultAction="Log">
        <when condition="not contains('${message}', 'metric:')" action="Ignore" />
      </filters>
    </logger>
    
    <logger name="*" minlevel="Trace" writeTo="logService">
      <filters defaultAction="Log">
        <when condition="contains('${message}', 'metric:')" action="Ignore" />
      </filters>
    </logger>
    
  </rules>
  
</nlog>